/* Styles for the navbar */
.navbar {
  background-color: #4a90e2;
  color: #fff;
  padding: 1% 0;
  position: relative;
  width: 100%;
  height: fit-content;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  transition: background-color 0.3s ease;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2%;
}

.logo {
  height: 50px;
}

.navbar-heading {
  margin-left: 1rem;
  font-size: 1.5rem; /* Increase navbar heading font size */
}

.nav-links {
  display: flex;
  list-style: none;
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
}

.nav-item {
  margin-left: 1rem;
  position: relative; /* Important for dropdown positioning */
}

.nav-link {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
  padding: 10px 20px; /* Adjust padding as necessary */
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 1rem; /* Increase font size for navbar links */
}

.nav-link:hover {
  color: #f0f0f0;
  background-color: rgba(255, 255, 255, 0.1); /* Semi-transparent background on hover */
}

/* Dropdown styles */
/* Dropdown styles */
.dropdown {
  position: relative; /* Ensure relative positioning for absolute dropdown */
}

.dropdown-content {
  display: none;
  position: absolute;
  top: calc(100% + 5px); /* Adjust to align slightly below the parent */
  left: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1001;
  padding: 0.5rem 0; /* Added padding for better visibility */
}

.dropdown-content a {
  color: #000; /* Black text color for dropdown items */
  padding: 0.5rem 1rem; /* Padding for each item */
  text-decoration: none;
  display: block;
  transition: background-color 0.3s ease;
  font-size: 1rem; /* Increase font size for dropdown items */
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}


/* Overlay styles */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  backdrop-filter: blur(5px); /* Blur effect */
  z-index: 1000; /* Ensure it's below the modal */
}

/* Styles to make sure the modal is on top and not blurred */
.sign-in-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1001; /* Higher than the overlay */
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
